/*
colors, light to dark
	#E1E6B9
	#C4D7A4
	#ABC8A4
	#375D3B
	#183128
*/

/* reset */

* {
	background: transparent;
	border: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 100%;
	font-weight: 400;
	line-height: 1.3em;
	outline: none;
	vertical-align: baseline;

	margin: 0;
	padding: 0;
	z-index: 1;
}

/* main */

body {
	background: #F8F8F8;
	color: #333;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 14px;

	padding: 10px;
}

a, a:visited {
	color: #375D3B;
	text-decoration: underline;
}

/* header */

header {
	background: #375D3B;
	text-align: center;

	padding: 10px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

header a {
	color: #FFF !important;
	font-size: 18px;
	font-weight: bold;

	text-decoration: none;
}

/* main */

main {
	background: #FFF;
	border-top: 3px solid #ABC8A4;
	box-shadow: 0 0 10px 1px #EEE;

	padding: 10px 10px 5px 10px;
	margin: 45px auto 0 auto;
	width: 100%;
	max-width: 700px;
}

h1 {
	font-size: 20px;
	font-weight: bold;

	margin-bottom: 5px;
}

h2 {
	font-size: 16px;
	font-weight: bold;

	margin-top: 5px;
	margin-bottom: 5px;
}

p {
	margin-bottom: 5px;
}

hr {
	background: #E1E6B9;

	height: 2px;
}

/* user */

.di-user {
	background-color: #F8F8F8;
	border: 1px solid #F0F0F0;
	border-radius: 5px;

	clear: both;
	padding: 5px;
	min-height: 70px;
}

.di-user > * {
	display: block;

	margin-bottom: 3px;
}

.di-user-name {
	font-weight: bold;
}

.di-user-profile {
	border-radius: 10px;

	float: left;
	margin-right: 5px;
}

/* form */

input {
	background: #F8F8F8;
	border: 1px solid #F0F0F0;
	color: #777;

	padding: 3px 1px;
	width: 135px;
}

textarea {
	background: #F8F8F8;
	border: 1px solid #F0F0F0;
	color: #777;

	padding: 5px;
	width: 100%;
	height: 500px;
	max-width: 100%;
}

button {
	background: #375D3B;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;

	padding: 4px 6px;
}
