/*
colors, light to dark
	#E1E6B9
	#C4D7A4
	#ABC8A4
	#375D3B
	#183128
*/

/* reset */

* {
	background: transparent;
	border: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 100%;
	font-weight: 400;
	line-height: 1.3em;
	outline: none;
	vertical-align: baseline;

	margin: 0;
	padding: 0;
	z-index: 1;
}

/* font */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Regular'), local('Roboto-Regular'), url(//fonts.gstatic.com/s/roboto/v14/fg2nPs59wPnJ0blURyMU3PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(//fonts.gstatic.com/s/roboto/v14/d-6IYplOFocCacKzxwXSOBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* main */

body {
	background: #F8F8F8;
	color: #333;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-size: 14px;

	padding: 10px;
}

a {
	color: #375D3B;
	text-decoration: underline;
}

/* header */

header {
	background: #375D3B;
	box-shadow: 0 0 1px 1px #577D5B;
	text-align: center;

	padding: 10px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

header a {
	color: #FFF;
	font-size: 18px;
	font-weight: bold;

	text-decoration: none;
}

/* main */

main {
	background: #FFF;
	border-top: 3px solid #ABC8A4;
	box-shadow: 0 0 10px 1px #EEE;
	display: block;

	padding: 10px 10px 5px 10px;
	margin: 45px auto 0 auto;
	width: 100%;
	max-width: 700px;
}

h1 {
	font-size: 20px;
	font-weight: bold;

	margin-bottom: 5px;
}

h2 {
	font-size: 16px;
	font-weight: bold;

	margin-bottom: 5px;
}

p {
	margin-bottom: 5px;
}

hr {
	background: #E1E6B9;

	margin-bottom: 5px;
	height: 2px;
}

/* user */

.di-user {
	background-color: #F8F8F8;
	border: 1px solid #F0F0F0;
	border-radius: 5px;

	clear: both;
	padding: 5px;
	min-height: 70px;
}

.di-user > * {
	display: block;

	margin-bottom: 3px;
}

.di-user-name {
	font-weight: bold;
}

.di-user-profile {
	border-radius: 10px;

	float: left;
	margin-right: 5px;
	width: 60px;
	height: 60px;
}

/* form */

input {
	background: #F8F8F8;
	border: 1px solid #F0F0F0;
	color: #777;

	padding: 3px 1px;
	width: 135px;
}

textarea {
	background: #F8F8F8;
	border: 1px solid #F0F0F0;
	color: #777;
	font-size: 12px;

	padding: 5px;
	width: 100%;
	height: 500px;
	max-width: 100%;
}

button {
	background: #375D3B;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;

	padding: 4px 6px;
}
